<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Projects</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css"/>
    
</head>
<body>
    <div id="menu-wrapper">
      <div class=logo>
      <img id="logo" src="../static/img/OSP_frogy-frog.svg"/>
      <span><h1><a>Open Source Publishing</a></h1><h2>applied and performative research in graphic design</h2></span>
    </div>
    <nav class="menu">
      <ul id="menu">
        <li><a>Tools</a></li>
        <li><a>Foundry</a></li>
        <li><a>Workshops</a></li>
        <li><a>Works</a></li>
        <li><a>Researches</a></li>
        <li><a>Live</a></li>
        <li><a>Blog</a></li>
        <li><a>Infos</a></li>
      </ul>
    </nav>

    {% block submenu %}
    {% endblock %}
    </div>

    <main>

    {% block content %}
    {% endblock %}

    </main>

    <script src="/static/js/pad.js" type="text/javascript" charset="utf-8"></script>

    {% block script %}
    {% endblock %}
</body>
</html>
