{% extends "base.html" %}

{% block content %}
    <ul class="repo-list">
      {% for project in projects %}
      <li class="repo {% if project.default_branch == "archive" %}archived{% endif %}">
          <a href="{{ project.links.self }}">{{ project.name }}</a>
          <p class="repo--latest-commit">Last updated on {{ project.last_activity_at|datetime("%d/%m/%Y at %H:%M") }}
          <p class="repo--start">{{ project.commits|length }} commits since {{ project.created_at|datetime("%d/%m/%Y") }}</p>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

