{% extends "base.html" %}

{% block submenu %}
    <header class="header repo branch-{{ project.default_branch }}">
        <h2 class="repo-title">{{ project.name }}</h2>
        <h2 class="repo-title"></h2>
        <ul id="views">
          <li><a href="#readme" id="filter-readme">Description</a></li>
          <li><a href="#images" id="filter-images">Visual process </a></li>
          <li><a href="#tree" id="filter-tree">Files</a></li>
          <li><a href="#commits" id="filter-commit">Last updates</a></li>
          <li><a href="#fonts" id="filter-fonts">Font used</a></li>
        </ul>
    </header>
{% endblock %}

{% block content %}
    <div class="repo branch-{{ project.default_branch }}">
        <section id="repo-content">

		    {% if project.readme %}
		        <section id="readme" class="repo-views">
		        {{ project.readme }}
		        </section>
		    {% endif %}
		    <section id="images" class="repo-views">
                <div id="iceberg">
                    <h3>Iceberg</h3>
                    <img v-bind:src="image.src" v-for="image in icebergList">
                </div>
    
                <div id="processus">
                    <h3>processus</h3>
                    <img v-for="image in processusList" v-bind:src="image.src">
                </div>
		    </section>
		    <section id="tree" class="repo-views" >
			    <h3>Tree</h3>
				<a id="go-up-folder" href="#" v-on:click.prevent="tree('up', upPath)">↑↑ Parent directory</a>
			    <ul>
                    <li v-bind:class="blob.type" v-for="blob in fileList">
                        <a v-on:click.prevent="tree(blob.type, blob.path, blob.id)" href="#">
                            [[ blob.name ]]
                        </a>
                    </li>
			    </ul>
				<div id="blob" v-html="blobItem">
				</div>
				<div id="blobHistory">
					<h4 v-if="blobHistory.length > 1">File History</h4>
                    <div class="oldBlob" v-for="file in blobHistory">
						<h5>[[ file.date ]]</h5>
						<p>[[ file.msg ]]</p>
						<p>[[ file.author ]]</p>
                        <img v-if="file.b64" v-bind:src="file.b64">
						<a class="download-me" v-bind:href="file.href" download target="_blank">Download that file.</a>
                    </div>
				</div>
		    </section>
		    <section id="commits" class="repo-views">

<!-- 			    <h3>Commits</h3>
 -->			    <ul class="commit-list">
			      {% for commit in project.commits %}
			      <li class="commit-item">
			          <a href="https://gitlab.constantvzw.org/osp/{{ project.name }}/-/commit/{{ commit.id }}">
			              <time class="commit-time">{{ commit.committed_date|datetime("%d/%m/%Y, %H:%M") }}</time>
			          </a>
			          <p class="commit-author">{{ commit.author_name }}:</p>
					  <p class="commit-message">{{ commit.message }}</p>
			      </li>
			      {% endfor %}
			    </ul>
		    </section>

		    <section id="fonts" class="repo-views">
		    </section>

    </section>
   </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" charset="utf-8">
        var gitlabURL = "https://gitlab.constantvzw.org";
        var gitlabApiURL = "https://gitlab.constantvzw.org/api/v4/projects/";
        var user_name = "osp";
        var repoID = {{ project.id }};
        var projectName = "{{ project.name }}";
        var projectBranch = "{{ project.default_branch }}";
    </script>
    <script src="/static/js/project.js" type="text/javascript" charset="utf-8"></script>

{% endblock script %}
