<h2>Commits</h2>


<ul class="repo--commits">
  {% for commit in commits %}
    <li class="repo--commits--item">
      <time>{{ commit.date }}</time>
      <p>{{ commit.msg }}</p>
      <p>{{ commit.author }}</p>
    </li>
  {% endfor %}
</ul>
