<h2>Fonts in use</h2>

<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/notcouriersans" type="text/css"/>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/belgica-belgika" type="text/css"/>

<style>
    .not-courier-sans { font-family: notcouriersans; }
    .belgica-belgika { font-family: Belgika8th; }
</style>

<ul class="repo--fonts">
    <li><input class="not-courier-sans" type="content-editable" placeholder="Not Courier Sans"</li>
    <li><input class="belgica-belgika" type="content-editable" placeholder="Belgica-Belgika"</li>
</ul>
