<h2>Read me</h2>


<div class="repo--readme">
      <p>
        Graphic design identity platform for the Contour Biennale 9: "Coltan as Cotton", that will take place in Mechelen (and beyond) from autumn 2018 until end of 2019.
      </p>
</div>

