<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OSP</title>
    <link rel="stylesheet" href="/css/styles.css?{{ cacheBuster }}" media="all" />

  </head>
  <body>
    {% block content %}


    {% endblock content %}

  </body>
</html>
