{% extends "@templates/base.twig" %}

{% block content %}
  <h1>{{ title }}</h1>

  {% include "@organisms/commit-list.twig" %}
  {% include "@organisms/tree-list.twig" %}
  {% include "@organisms/readme.twig" %}
  {% include "@organisms/fonts.twig" %}

bla

{% endblock content %}
